%div.row
	%div.centered.twelve.columns
		%h1
			Shawarma

	%div.centered.six.columns
		%p.step.one
			Shawarma matches your catering needs with a business willing to donate food for your event! To get started, choose the date of your event below!


	%fieldset
		%input#input_date{type: 'text'}