=stylesheet_link_tag("static_pages")
%body
	.container
		/ Static navbar
		.navbar.navbar-default{role: "navigation"}
			.navbar-header
				%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
					%span.sr-only Toggle navigation
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				%a.navbar-brand{href: "/"} Shawarma
			.navbar-collapse.collapse

				%ul.nav.navbar-nav.navbar-right
					%li
						%a{href: about_path} About Us
					%li
						%a{href: partners_path} Partners
					%li
						%a{href: contact_path} Contact Us
			/ /.nav-collapse
		/ Main component for a primary marketing message or call to action
		.jumbotron#partners
			%h1 Partners
			%p We've partnered with select businesses in and around Berkeley. Here are our current partners:

			.row
				.col-xs-6.col-md-3
					.thumbnail
						%img{:src => "/assets/sliver-logo.png"}
				.col-xs-6.col-md-3
					.thumbnail
						%img{:src => "/assets/chipotle-logo.png"}
				.col-xs-6.col-md-3
					.thumbnail
						%img{:src => "/assets/artichoke-logo.png"}