// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.jumbotron { 
	text-align: center;

	p {
		padding: 20px;
		margin-bottom: 15px;
	}
}

.wizard-modal p {
        margin: 0 0 10px;
        padding: 0;
}

.wizard-modal .chzn-container .chzn-results {
        max-height: 150px;
}
.wizard-addl-subsection {
        margin-bottom: 40px;
}

.form-group {
	max-height: 20px;
	margin-bottom: 30px
}
.modal-dialog.wizard-dialog {
	margin-top: 80px;
}

.col-sm-10#checkbox { 
	margin-top: 15px;
}